nav {
  position: relative;
  background: #1b1c21;
  width: 100%;
  border-bottom: 1px solid #282828;
}

.nav-padding {
  padding: 10px 0;
}

nav::after {
  content: '';
  display: table;
  clear: both;
}

.branding {
  display: inline-block;
  background: url(../images/logo.jpg) no-repeat;
  padding-left: 30px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600;
}

.mobile-toggle-menu {
  float: right;
  position: relative;
  top: 5px;
}

.menu {
  position: relative;
  display: block;
  margin-top: 10px;
  z-index: 100;
  background: #1b1c21;
}

ul.menu > li {
  padding: 10px 0;
  border-bottom: 1px solid #282828;
}
ul.menu > li:last-child {
  border-bottom: 0;
}


@media (min-width: 768px) {
  .mobile-toggle-menu { display: none; }
  .menu {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    right: 0;
    display: block;
  }

  ul.menu > li {
    position: relative;
    float: left;
    height: 100%;
    padding: 0 20px;
    border: 0;

  }

  ul.menu > li:hover, li.active {
    border-bottom: 1px solid dodgerblue;
  }

  ul.menu > li > a {
    line-height: 50px;  /* same height at navbar */
  }
}
